article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.5in 4in 1.5in [end] 0.5in 1fr;
    padding: 1in 0;
    }

article * {
    grid-column: start / end;
    padding: 0.5rem 0 0.5rem 0;
    }

@media (max-width: 8in) {
	article { grid-template-columns: 1fr 5% [start] 20% 50% 20% [end] 5% 1fr; }
}



/*FIGURES*/
.size-1 {grid-column: 4 / 5; }
.size-2 {grid-column: 3 / 6; }
.size-3 {grid-column: 2 / 7; }
.size-4 {grid-column: 1 / 8; }

.size-1 img, .size-2 img, .size-3 img, .size-4 img { width: 100%; border-radius: 30px;}


figcaption {
    display: flex;
    justify-content: center; /*centering horizontally*/
}





/*rem means 2 lines regardless from reset.css (20pixels), em would be 2 lines based on the font size */
/*h2, p {margin-bottom: 2.4rem; }

/*400 is default font weight, you can have anywhere between 100 to 900 font weights) */

h1           { font: 600 1.7rem/1.2 "Assistant"; color: #3A4664; text-align: center; text-decoration: overline;}
h2           { font: 600 1.5rem/1.0 "Assistant"; color: #7A002E; padding-top: 25px;}
h3           { font: 300 1.0rem/1.2 "Assistant"; color: #77B5FE; text-align: right; padding: 0;}
time         { font: 400 1.0rem; color: gray; text-align: right; padding: 0;}
figcaption p { font: 400 1.0rem/1.5; color: hsl(000, 000%, 83%); }
ul{ margin-left:25px;}
ul li {padding: 0}
ol{ margin-left:25px;}
ol li {padding: 0}



a {
  color: #F38FA9;
  font-weight: bold;
}

a:hover {
  background: #FCE4EA;
  color: black;
}

.styled-table, .styled-table th, .styled-table td {
    border-collapse: collapse;
    border:1px solid #FCE4EA;
    text-align: center;
    padding: 2px 17px 2px 17px;
    margin: 15px auto 15px auto;
}

.archive, .archive td {
    text-align: center;
    vertical-align: top;
}


@media (max-width: 8.5in) {
    :root { font-size: 18px; }
    }


@media (max-width: 5in) {
    :root { font-size: 16px; }
    .column {width: 100%;}
   }






