/* FOOTER *********************************************************************/
.footer {
  text-align: center;
  padding: 1.5rem 0 1rem;
  font-size: 0.7rem;
}

/* NAVIGATION *****************************************************************/
.logo {
  display: inline-block;
  padding: 0.6rem 0.9rem 0;
  vertical-align: top;
}

.logo:hover {
  background: none;
}

.navigation {
  background: #F6F6F6;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
}

.navItem {
  color: #303030;
  display: inline-block;
  font-weight: bold;
  padding: 0.75rem 0.9rem 0;
}

.navItem:hover, .navItem:active, .navItem:focus {
  background: none;
  color: #7A002E;
}
