:root { font: 22px/1.7 "Quicksand", sans-serif; }
/* font-family: 'Assistant, Roboto', sans-serif; */

body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           #303030;
	text-decoration: unset;
}

figure * { display: block; }

