:root { font: 17px/1.7 "Quicksand", sans-serif; }

body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           #303030;
	text-decoration: unset;
}


