article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] .5in 6.5in .5in [end] 0.5in 1fr;
    padding: 0.5in 0;
    }

article * {
    grid-column: start / end;
    padding: 0.5rem 0 0.5rem 0;
    }

@media (max-width: 8in) {
	article { grid-template-columns: 1fr 5% [start] 5% 80% 5% [end] 5% 1fr; }
}