<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice Jihyun</title>
    <link rel ="icon" href ="Images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Quicksand&family=Roboto:ital,wght@1,300&display=swap">
    <link rel="stylesheet" href = "reset.css">
    <link rel="stylesheet" href = "every.css">
</head>

<body>

    <div id = "logo">
        <a href = "#">
            <img src = "Images/logo.png" height = 60rem width = 60rem>
        </a>
    </div>

<header>
        <nav role="navigation">
          <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
              <!-- Update these links -->
              <ul id="menu">
                <center>where to?</center>
                <a href="#"><li>about</li></a>
                <a href="#"><li>archive</li></a>
                <a href="#"><li>ramblings</li></a>
                  <img src = "Images/navYonggi.png" height = auto width = 275px>
            </ul>
          </div>
        </nav>
</header>

    {{ content }}

    <div id = "footer"> <p> Eunice Kim © 2021 </p> </div>

</body>
</html>